<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KGH</title>
    <link rel="stylesheet" href="/stylesheets/missing.min.css">
    <script src="/js/htmx.min.js"></script>
    <script src="/js/_hyperscript.min.js"></script>
    <script src="/js/sse.js"></script>
</head>
<body>
    <main>
        <input type="text" name="input" id="find_input" autofocus 
            hx-post="/find"
            hx-trigger="buttonEvent delay:1s, keyup[keyCode==13] delay:1s"
            hx-target="#result"
            hx-indicator="#spinner"
            hx-swap="afterbegin">
        <button _="on click send buttonEvent to #find_input">
            {{.Lang.FindButtonLabel}}
        </button>
        <img id="spinner" class="htmx-indicator" src="/img/spinning-circles.svg" alt="Request In Flight..."/>
        <button id="pullButton" hx-get="/pullAll" hx-target="#result" hx-swap="afterbegin">Pull All</button>
        <a href="/settings"><img src="/img/settings.svg" alt="Settings..." hx-boost="true">{{.Lang.Settings}}</a>
        <div class="box" id="result"></div>
    </main>
</body>
</html>